In [80]:
print("hi")

hi

In [81]:
import numpy as np
import pandas as pd

In [82]:
import os
os.getcwd()

'c:\\Users\\SOUMALLA-ANTARA\\OneDrive\\Desktop\\Recommendation System\\Recommendation-System\\notebook'

In [83]:
cd ..

c:\Users\SOUMALLA-ANTARA\OneDrive\Desktop\Recommendation System\Recommendation-System

In [84]:
cd data

c:\Users\SOUMALLA-ANTARA\OneDrive\Desktop\Recommendation System\Recommendation-System\data

In [85]:
movies= pd.read_csv('tmdb_5000_movies.csv')
credits= pd.read_csv('tmdb_5000_credits.csv')

In [86]:
os.chdir('c:\\Users\\SOUMALLA-ANTARA\\OneDrive\\Desktop\\Recommendation System\\Recommendation-System\\notebook')

In [87]:
os.getcwd()

'c:\\Users\\SOUMALLA-ANTARA\\OneDrive\\Desktop\\Recommendation System\\Recommendation-System\\notebook'

In [88]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [89]:
newData=movies.merge(credits,on='title')

In [90]:
newData.shape

(4809, 23)

In [91]:
newData.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4809 non-null   int64
 1   genres                4809 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4809 non-null   int64
 4   keywords              4809 non-null   object
 5   original_language     4809 non-null   object
 6   original_title        4809 non-null   object
 7   overview              4806 non-null   object
 8   popularity            4809 non-null   float64
 9   production_companies  4809 non-null   object
 10  production_countries  4809 non-null   object
 11  release_date          4808 non-null   object
 12  revenue               4809 non-null   int64
 13  runtime               4807 non-null   float64
 14  spoken_languages      4809 non-null   object
 15  status                4809 non-null   object
 16  tagline               3965 non-null   object
 17  title                 4809 non-null   object
 18  vote_average          4809 non-null   float64
 19  vote_count            4809 non-null   int64
 20  movie_id              4809 non-null   int64
 21  cast                  4809 non-null   object
 22  crew                  4809 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 901.7+ KB

In [92]:
newData= newData[['movie_id','title','overview','genres','keywords','cast','crew']]

In [93]:
newData.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [94]:
 newData.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [95]:
newData.dropna(inplace=True)

In [96]:
newData['genres'][0]

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [97]:
import ast
def genrecomvert(arr):
    result=[]
    for i in ast.literal_eval(arr):

        result.append(i['name'])
    return result

In [98]:
newData['genres'] =newData['genres'].apply(genrecomvert)

In [99]:
newData['keywords'] =newData['keywords'].apply(genrecomvert)

In [100]:
def castconvert(arr):
    result=[]
    j=0
    for i in ast.literal_eval(arr):
        if j==3:
            return result
        result.append(i['name'])
        j+=1
    return result

In [101]:
newData['cast'] =newData['cast'].apply(castconvert)

In [102]:
newData['cast']

0        [Sam Worthington, Zoe Saldana, Sigourney Weaver]
1           [Johnny Depp, Orlando Bloom, Keira Knightley]
2            [Daniel Craig, Christoph Waltz, Léa Seydoux]
3            [Christian Bale, Michael Caine, Gary Oldman]
4          [Taylor Kitsch, Lynn Collins, Samantha Morton]
                              ...
4804    [Carlos Gallardo, Jaime de Hoyos, Peter Marqua...
4805         [Edward Burns, Kerry Bishé, Marsha Dietlein]
4806           [Eric Mabius, Kristin Booth, Crystal Lowe]
4807            [Daniel Henney, Eliza Coupe, Bill Paxton]
4808    [Drew Barrymore, Brian Herzlinger, Corey Feldman]
Name: cast, Length: 4806, dtype: object

In [103]:
def castdirector(arr):
    result=[]
    j=0
    for i in ast.literal_eval(arr):
        if i['job'] == 'Director':
            result.append(i['name'])
            break
        
    return result

In [104]:
newData['crew'] =newData['crew'].apply(genrecomvert)

In [105]:
newData['overview'] =newData['overview'].apply(lambda x:x.split())

In [106]:
newData.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[Stephen E. Rivkin, Rick Carter, Christopher B..."

In [107]:
newData['genres'] =newData['genres'].apply(lambda x:[i.replace(" ","") for i in x])
newData['keywords'] =newData['keywords'].apply(lambda x:[i.replace(" ","") for i in x])
newData['crew'] =newData['crew'].apply(lambda x:[i.replace(" ","") for i in x])
newData['cast'] =newData['cast'].apply(lambda x:[i.replace(" ","") for i in x])

In [109]:
newData['tag']=newData['overview'] + newData['genres'] + newData['cast'] + newData['crew']

In [110]:
newData['tag']

0       [In, the, 22nd, century,, a, paraplegic, Marin...
1       [Captain, Barbossa,, long, believed, to, be, d...
2       [A, cryptic, message, from, Bond’s, past, send...
3       [Following, the, death, of, District, Attorney...
4       [John, Carter, is, a, war-weary,, former, mili...
                              ...
4804    [El, Mariachi, just, wants, to, play, his, gui...
4805    [A, newlywed, couple's, honeymoon, is, upended...
4806    ["Signed,, Sealed,, Delivered", introduces, a,...
4807    [When, ambitious, New, York, attorney, Sam, is...
4808    [Ever, since, the, second, grade, when, he, fi...
Name: tag, Length: 4806, dtype: object

In [112]:
final_data=newData[['movie_id','title','tag']]

In [114]:
final_data['tag'] = final_data['tag'].apply(lambda x:"".join(x))

c:\Users\SOUMALLA-ANTARA\OneDrive\Desktop\Recommendation System\Recommendation-System\system\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [116]:
final_data['tag'][0]

"Inthe22ndcentury,aparaplegicMarineisdispatchedtothemoonPandoraonauniquemission,butbecomestornbetweenfollowingordersandprotectinganaliencivilization.ActionAdventureFantasyScienceFictionSamWorthingtonZoeSaldanaSigourneyWeaverStephenE.RivkinRickCarterChristopherBoyesChristopherBoyesMaliFinnJamesHornerJamesCameronJamesCameronJamesCameronJamesCameronJamesCameronAndrewMenziesJillBrooksMargerySimkinKevinIshiokaDickBernsteinShannonMillsDennieThorpeJanaVanceDeborahLynnScottJonLandauSeanHaworthKimSinclairKimSinclairRichardF.MaysLaetaKalogridisMayesC.RubeoMauroFioreScottHerbertsonWoodySchultzLindaDeVettaLindaDeVettaRichardBluckSimonBrightRichardMartinSteveR.MooreJohnRefouaKarlJ.MartinChilingLinIlramChoiStevenQualeCarlaMeyerNickBassettJillCormackAndyMcLarenTerryNotaryGarrettWarrenJonathanRothbartStefanDechantToddCherniawskyMirandaRiversRobertStrombergJohnHardingRobertoDeAngelisMikeSmithsonAlainLalanneLucasSaltonJanaceTashjianStephenRosenbaumFrankieKarenaLisaLovaasJonathanFawknerRobertBavinAnthonyAlmarazCarolynM.FentonBethKoenigsbergSamPageTexKadonagaKimFoscatoTammyS.LeeDennyCairaJamesWaitkusAddisonTeagueC.ScottBakerLukeCaskaDavidChowJonathanDyerJosephHiuraRebeccaJellieRobertAndrewJohnsonMikeStassiJohnVillarinoJeffreyWisniewskiCherylNardiMarshallWinnGwendolynYatesWhittleWilliamSteinLulaWashingtonChrisDelConteR.ChristopherWhiteDanLemmonTimNielsenMichaelMulhollandThomasNittmannEdsonWilliamsChristineCarrJohnBrunoDavidEmmerichsChristopherScarabosioJenniferTevesBrigitteYorkeKenFischerIainHuttonSteveIngramJoyceCoxJennyFosterChristopherMarinoJimMiltonCyndiOchsLucasPutnamAnthony'Max'IvinsJohnKnollEricSaindonWayneStablesDavidStinnettGuyWilliamsStuartThorpGilesCoburnMarkFellmanScottSpragueJeremyHollobonOrlandoMeunierTaisukeTanimuraLiliaMishelAcevedoAlejandroM.HernandezMarvinHallJudyAlleyMikePerryAndrewMorleySethEngstromEricOliverMatsuneSuzukiPaulTobinRoxaneGriffinArunRam-MohanGeorgiaLockhart-AdamsThrainShadboltBradAlexanderShadiAlmassizadehSimonClutterbuckGraemeDemmocksAdrianFernandesMitchGatesJerryKungAndyLomasSebastianMarinoMatthiasMenzSergeiNevshupovPhilippeReboursMichaelTakarangiDavidWeitzbergBenWhiteMinWindle"

In [117]:
final_data['tag'] = final_data['tag'].apply(lambda x:x.lower())

c:\Users\SOUMALLA-ANTARA\OneDrive\Desktop\Recommendation System\Recommendation-System\system\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.